name: Build and push Docker images

on:
  push:
    branches:
      - master
    paths:
      - 'scheduler/**'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: [ scheduler ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build and push Docker image
        run: |
          IMAGE_NAME="ghcr.io/${{ github.repository_owner }}/${{ matrix.image }}"
          TAG="latest"
          docker build -t $IMAGE_NAME:$TAG ./${{ matrix.image }}
          docker push $IMAGE_NAME:$TAG